* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #060003;
    --gray: #242123;
    --white: #FFFFFF;
    --blue: #8E6EEA;
    --border-gradient: linear-gradient(227.58deg, #A6282A -44.04%, #B44A6A 42.36%, #3E1A5D 113.95%);
    --font-40: clamp(24px, 6vw, 40px);
    --font-32: clamp(24px, 4vw, 32px);

    --transition-speed: 250ms;
    --transition-easing: ease;
    --icon-size: 80px;
    --icon-font-size: 30px;
    --list-item-margin: 12px;
    --border-width: 2px;

    --profile-container-size: 200px;
    --profile-size: 80px;
    --profile-margin: 12px;
    --section-min-height: 850px;
    --section-padding: 10px;

    --header-background-color: rgba(255, 255, 255, 0.5);
    --text-color: var(--black);
    --hover-text-color: var(--white);
    --margin-bottom-large: 45px;
    --border-color: var(--black);

    --color-black: black;
    --color-white: #FFFFFF;
    --color-gray: #CCCCCC;

    --font-18: 18px;
    --font-32: 32px;

    --gradient-background: linear-gradient(to bottom right, #F4492F, #F367A5 54.6875%, #553DEB);
    --transition-fast: 500ms ease all;
    --icon-opacity: 0.7;
    --icon-hover-opacity: 1;
    --fill-color-default: #dbdbdb;
    --fill-color-hover: #ffffff;

    --intro-bg-color: #4c6faf;
    --intro-hover-bg-color: white;
    --intro-hover-color: black;
    --intro-border-hover-color: #4c7caf;
    --navbar-gradient-start: #333;
    --navbar-gradient-end: #000;
    --link-color: white;
    --link-padding: 14px 16px;
    --transition-fast: 0.3s;
}

html {
    font-family: "Inter";
    color: var(--white);

    overflow-x: hidden;
}

body {
    background-color: var(--black);
}

/* TYPOGRAPHY */
h1 {
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-96);
    line-height: 116px;
    max-width: 150%;
}

h1 strong {
    font-size: calc(var(--font-96) - 4px);
    color: #000000;  /* Black */
    display: inline-block; 
    width: 100%;
    text-align: center;
}


h2 {
    color: black;
    font-weight: 600;
    font-size: var(--font-32);
    line-height: 150%;
    margin-bottom: 30px;
}

p,
a {
    margin-left: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-decoration: none;
}

p {
    opacity: 0.7;
}

.title {
    font-size: var(--font-48);
    color: #000000;  /* Black */
    font-weight: 700;  /* Extra Bold */
}

.background {
    font-size: var(--font-24);
    color: #333333;  /* Dark Gray */
}

.current {
    font-size: var(--font-36);
    color: #000000;  /* Black */
    font-weight: 500;  /* Medium Bold */
}

.current strong {
    color: #000000;  /* Black */
    font-style: italic;  /* Italic text */
    display: inline-block; 
    width: 100%; 
    text-align: center;
}

/* LAYOUTS */

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Hide overflow */
}

.flex-center a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color */
    padding: 0; /* Remove any default padding */
    margin: 0; /* Remove any default margin */
    display: flex; /* Ensure it behaves like a flex item */
    align-items: center; /* Center items */
    justify-content: center;
    flex-shrink: 0;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-start a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color */
    padding: 0; /* Remove any default padding */
    margin: 0; /* Remove any default margin */
    display: flex; /* Ensure it behaves like a flex item */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* === UNIVERSAL STYLES === */

/* List Styles */
  
  .flex-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .flex-list li {
    margin: var(--list-item-margin);
    transition: var(--transition-speed) var(--transition-easing);
  }
  
  .flex-list a {
    color: var(--white);
    text-decoration: none;
    display: block;
    transition: var(--transition-speed) var(--transition-easing);
  }
  
  .list-items-circle {
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Align the items vertically in the center */
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
  }
  
  .list-items-circle a {
    border: var(--border-width) solid var(--black);
    border-radius: 50%;
    margin: 5px; /* Add some space between the items */
  }
  
  .list-items-circle a:hover,
  .contact .list-items-circle a:hover {
    background-color: var(--white);
    border-color: var(--white);
  }
  
  .list-items-circle .fab {
    width: var(--icon-size);
    height: var(--icon-size);
    font-size: var(--icon-font-size);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: var(--transition-speed) var(--transition-easing);
  }
  
  .contact .list-items-circle a {
    border-color: var(--white);
  }
  
  .flex-list hr {
    height: 30px;
    margin: 0 50px;
    border: none;
    border-left: 1px solid var(--white);
  }
  
  @media (max-width: 768px) {
    .flex-list {
      flex-direction: column;
    }
  
    .flex-list hr {
      width: 30px;
      height: 1px;
      margin: 15px 0;
      border-left: none;
      border-top: 1px solid var(--white);
    }
  }
  
  /* Profile Image */
  .profile-container {
    min-width: var(--profile-container-size);
    margin: var(--profile-margin);
    position: relative;
    width: var(--profile-container-size);
    height: var(--profile-container-size);
  }
  
  .profile-container .profile,
  .profile-container .ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .profile-container .profile {
    width: var(--profile-container-size);
    height: var(--profile-container-size);
    border-radius: 50%;
    object-fit: cover; /* Ensures the image fills the circular container without distortion */
  }
  
  .profile-container .ring {
    width: 100%;
    height: 100%;
  }
  
  .header,
  .section {
    min-height: var(--section-min-height);
    padding: var(--section-padding);
  }
  
  @media (max-width: 768px) {
    :root {
      --profile-container-size: 66px;
      --profile-size: 60px;
      --section-min-height: 600px; /* Adjust this value as needed for mobile */
    }
  }

/* HEADER */
.header {
    background-image: linear-gradient(to bottom, var(--header-background-color), var(--header-background-color)), url('../img/Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: space-between;
    justify-content: center; /* Adjusted to center vertically */
    align-items: center; /* Adjusted to center horizontally */
}

.header .header-links, .header h1 {
    display: flex;
    justify-content: center; /* Ensures content is centered within each flex container */
    align-items: center;
    flex-direction: column;
    color: var(--text-color);
    margin-bottom: 50px;
    width: 100%; /* Ensures full width for proper centering */
    font-size: 20px; /* Adjust text size as needed */
    font-weight: bold; /* Make text bold */
}

.contact .contact-links, .header .flex-list, .header .flex-list li a {
    color: var(--text-color);
    margin-bottom: var(--margin-bottom-large);
}

.header .flex-list li:hover, .header .flex-list li a:hover {
    color: var(--hover-text-color);
}

.header .flex-list hr {
    border: 1px solid var(--border-color);
}

/* === ABOUT === */

.about {
    color: black;
    background: linear-gradient(to bottom right, #F44A2F, #F367A5 50%, #553DEB);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about h2 {
    max-width: 900px;
    font-weight: 400;
    font-size: var(--font-40);
    line-height: 150%;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: auto; 
    margin-right: auto; 
    display: block; 
}

.about .achievements {
    list-style: none;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 100px;
    justify-content: center; 
    display: flex; /* Ensures justify-content is effective */
    flex-direction: column; 
}

.about .achievements ul {
    text-align: left; /* Updated for centering list items */
    list-style-position: inside;
    padding: 0; /* Removes default padding */
}

.about .achievements li {
    font-size: 25px;
    text-align: left; /* Updated for centering list items */
    list-style-position: inside;
    padding: 0; /* Removes default padding */
    margin-bottom: 10px;
    margin-left: 350px;
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
    .about h2, .about .achievements {
        max-width: 100%;
        margin-left: var(--margin-standard);
        margin-right: var(--margin-standard);
    }
}

/* === PROJECTS === */

.flex-container {
    background: linear-gradient(to bottom right, #4CAF50, #9C27B0 54.6875%, #1976D2);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap; /* Allow wrapping for responsiveness */
    padding: 30px; /* Add padding to create space for the content */
    margin: 0; /* Remove negative margin */
    width: 100vw; /* Full viewport width */
    position: relative; /* Ensure proper positioning */
    left: 50%; /* Center the container */
    right: 50%; /* Center the container */
    transform: translateX(-50%); /* Center the container */
    overflow: hidden; /* Hide any overflow */
    margin-top: -20px;
    padding-bottom: 100px;
    margin-bottom: -20px;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center items horizontally */
}

.flex-container h2 {
    font-size: 2.5rem; /* Adjust the font size as needed */
    color: #ffffff; /* Change the text color to white for contrast */
    text-align: center; /* Center the heading */
    margin: 20px 0; /* Space above and below the heading */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Optional: add a shadow for better readability */
    font-weight: bold; /* Make the text bold */
}

.main-cards {
    display: grid; /* Use grid layout for main cards */
    grid-template-columns: repeat(2, 1fr); /* Three equal columns */
    grid-template-rows: auto; /* Automatic height based on content */
    gap: 20px; /* Space between cards */
    flex: 2; /* Takes up more space on the left */
    margin-top: 20px;
    margin-right: 20px; /* Space between main cards and project cards */
    padding: 20px;
}

.main-card1 {
    grid-column: 1; /* First column */
    grid-row: 1; /* First row */
    margin-bottom: -60px;
    background: linear-gradient(to bottom right, #3DEB55, #A567F3 54.6875%, #2F49F4);
    display: flex; /* Use flexbox for highlighted cards */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center content horizontally */
    border-radius: 15px; /* Added rounded edges */ 
    padding: 20px;
    padding-bottom: 50px;
}

.main-card2 {
    grid-column: 2; /* Second column */
    grid-row: 1; /* First row */
    margin-bottom: -60px;
    background: linear-gradient(to bottom right, #3DEB55, #A567F3 54.6875%, #2F49F4);
    display: flex; /* Use flexbox for highlighted cards */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center content horizontally */
    border-radius: 15px; /* Added rounded edges */ 
    padding: 20px;
    padding-bottom: 50px;
}

.main-card3 {
    grid-column: 1; /* Third column */
    grid-row: 2; /* First row */
    margin-bottom: 120px;
    background: linear-gradient(to bottom right, #3DEB55, #A567F3 54.6875%, #2F49F4);
    display: flex; /* Use flexbox for highlighted cards */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center content horizontally */
    border-radius: 15px; /* Added rounded edges */ 
    padding: 20px;
}

.main-card4 {
    grid-column: 2; /* Third column */
    grid-row: 2; /* Second row */
    margin-bottom: 120px;
    background: linear-gradient(to bottom right, #3DEB55, #A567F3 54.6875%, #2F49F4);
    display: flex; /* Use flexbox for highlighted cards */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center content horizontally */
    border-radius: 15px; /* Added rounded edges */ 
    padding: 20px;
}

/* If you have a fifth and sixth card, you can add them like this */
.main-card5 {
    grid-column: 1; /* First column */
    grid-row: 3; /* Second row */
    background: linear-gradient(to bottom right, #3DEB55, #A567F3 54.6875%, #2F49F4);
    display: flex; /* Use flexbox for highlighted cards */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center content horizontally */
    border-radius: 15px; /* Added rounded edges */ 
    padding: 20px;
    margin-top: -120px;
}

.main-card6 {
    grid-column: 2; /* Second column */
    grid-row: 3; /* Second row */
    background: linear-gradient(to bottom right, #3DEB55, #A567F3 54.6875%, #2F49F4);
    display: flex; /* Use flexbox for highlighted cards */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center content horizontally */
    border-radius: 15px; /* Added rounded edges */ 
    padding: 20px;
    margin-top: -120px;
}

.project-cards {
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive columns */
    gap: 20px; /* Space between cards */
    flex: 1; /* Takes up remaining space on the right */
}

.project-section {
    background-color: #f9f9f9; /* Light background for each section */
    border: 1px solid #ddd; /* Border around each section */
    border-radius: 5px; /* Rounded corners */
    padding: 15px; /* Padding inside each section */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.card {
    width: 100%; /* Full width for cards */
}

.main-card1 img,
.main-card2 img,
.card img {
    max-width: 100%; /* Ensure images do not exceed the width of their container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove bottom space under images */
    margin-bottom: 70px; /* Space below the image */
    transition: transform 0.1s ease; /* Smooth transition for the zoom effect */
}

.main-card1 img:hover,
.main-card2 img:hover,
.card img:hover {
    transform: scale(1.5); /* Scale the image to 110% on hover */
}

.main-card3 img {
    max-width: 100%; /* Ensure images do not exceed the width of their container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove bottom space under images */
    margin-bottom: 20px;
}


.main-card4 img {
    max-width: 50%; /* Ensure images do not exceed the width of their container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove bottom space under images */
    margin-bottom: 20px;
}

.projects .card-buttons .card-button--site,
.projects .card-buttons .card-button--code {
    color: var(--white); /* Text color */
    width: 150px; /* Fixed width for buttons */
    height: 60px; /* Fixed height for buttons */
    display: flex; /* Use flexbox for alignment */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    opacity: 1; /* Fully opaque */
    transition: 250ms ease all; /* Smooth transition for hover effects */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    text-decoration: none; /* Remove underline from links */
    background-color: var(--gray); /* Background color for both buttons */
    margin-top: 50px; /* Space above the buttons */
    margin-right: 50px;
}

.projects .card-buttons .card-button--code {
    margin-top: 20px; /* Space below the code button */
}

.projects .card-buttons .card-button--site:hover,
.projects .card-buttons .card-button--code:hover {
    background-color: var(--white); /* Change background color on hover */
    color: var(--black); /* Change text color on hover */
}

@media only screen and (max-width: 450px) {
    /* Add this CSS to your stylesheet */
    .main-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .main-card1 {
        grid-column: 1; /* Second column */
        grid-row: 1; /* Second row */
        margin-bottom: 20px;
    }

    .main-card2 {
        grid-column: 1; /* Second column */
        grid-row: 2; /* Second row */
        margin-bottom: 20px;
    }

    .main-card3 {
        grid-column: 1; /* Second column */
        grid-row: 3; /* Second row */
        margin-bottom: 20px;
    }

    .main-card4 {
        grid-column: 1; /* Second column */
        grid-row: 4; /* Second row */
        margin-bottom: 120px;
    }

    .main-card5 {
        grid-column: 1; /* Second column */
        grid-row: 5; /* Second row */
        margin-bottom: 120px;
    }

    .main-card6 {
        grid-column: 1; /* Second column */
        grid-row: 6; /* Second row */
        margin-bottom: 20px;
    }

    
}

/* === EXPERIENCE === */

.experience {
    color: var(--black);
    background-image: url('../img/Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experience-description, .experience .experience-card .card-title, .experience .experience-card .card-years, .experience .experience-card .card-list .card-list-item {
    color: var(--black);
}

.experience-description {
    max-width: 900px;
    margin-top: 20px;
    margin-bottom: 100px;
    font-weight: 400;
    font-size: var(--font-32);
    line-height: 150%;
    opacity: 1;
    position: relative;
}

.experience-description img {
    position: absolute;
    top: 50%;
    right: -200px;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.experience h2 {
    padding-left: 24px;
}

.experience .experience-cards {
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.experience .experience-card {
    width: 370px;
    padding: 0 30px 30px 0;
    margin-bottom: 50px;
}

.experience .experience-card .card-title {
    font-size: var(--font-18);
    line-height: 150%;
}

.experience .experience-card .card-title .highlight {
    opacity: 0.7;
    font-weight: 400;
}

.experience .experience-card .card-years {
    font-weight: 500;
    font-size: var(--font-18);
    line-height: 150%;
    margin-bottom: 24px;
    opacity: 1;
}

.experience .experience-card .card-list .card-list-item {
    margin: 0 0 16px 16px;
    opacity: 0.7;
}

/* === SKILLS === */

.skills {
    background: var(--gradient-background);
    background-repeat: no-repeat;
    background-size: cover;

    --time: 30s; /* Total animation time */
    --half-time: 15s; /* Half of the animation time for delay */

    display: grid; /* Use grid layout */
    grid-template-rows: auto 1fr; /* Adjusted to have only two rows */
    grid-template-columns: 1fr;
    grid-template-areas: 
        'header'
        'scroll-area'; /* Define areas for header and scroll area */
    overflow: hidden; /* Hide overflow */
}

.skills h2 {
    grid-area: header; /* Assign the h2 to the header area */
    padding: 20px 0; /* Optional: Add padding for spacing */
    text-align: center; /* Center the text if desired */
}

.skills .section-skills {
    font-weight: 600;
    margin: 0; /* Remove margin to avoid pushing down */
    padding: 20px 0; /* Add padding if needed for spacing */
}

.skills .skill-cards {
    display: flex; /* Use flexbox for the skill cards */
    flex-wrap: nowrap; /* Prevent wrapping */
    overflow: auto; /* Allow horizontal scrolling */
    animation: loop var(--time) linear infinite; /* Continuous loop animation */
    grid-area: scroll-area; /* Assign to the scroll area */
    transform: translateX(100%); /* Start off-screen to the right */

    &[data-first] {
        animation: first-loop var(--time) linear forwards; /* First loop animation */
        transform: translateX(0); /* Start from the original position */
    }

    &[data-last] {
        animation-delay: var(--half-time); /* Delay for the last set */
    }
}

.skills .skill-card {
    background: rgba(255, 255, 255, 0.3); /* Semi-transparent card background */
    border-radius: 8px; /* Rounded corners */
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-size: 200% 100%;
    animation: backgroundAnimation 30s linear infinite;

    flex: 1 1 auto; /* Allow cards to grow and shrink */
    min-width: 120px; /* Set a minimum width */
    min-height: 120px; /* Set a minimum height */
    margin: 50px; /* Adjusted margin for consistent spacing */
    margin-top: -450px; /* Reduced top margin */
    border: 1px solid var(--gray);
    cursor: pointer;
    transition: var(--transition-fast);
}

.skills .skill-card .fab {
    font-size: 80px;
    opacity: var(--icon-opacity);
    transition: opacity var(--transition-fast);
}

.skills .skill-card:hover {
    background-blend-mode: normal;
}

.skills .skill-card:hover .fab {
    opacity: var(--icon-hover-opacity);
}

.skill-card svg path {
    fill: var(--fill-color-default);
    transition: fill 0.5s;
}

.skill-card:hover svg path {
    fill: var(--fill-color-hover);
}

.skills .skill-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: -500px;
    margin-top: -1000px;
    font-size: x-large;
}

.skills .skill-list li {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills .skill-list li img {
    margin: 50px;
}


/* === CONTACT === */

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contact h1,
.contact p {
    max-width: 750px;
    margin-bottom: 45px;
}

.contact .flex-list li:hover,
.contact .flex-list li a:hover {
    color: var(--blue);
}

/* === FOOTER === */

.footer {
    min-height: 88px;
    background-color: var(--gray);
}

/* === MEDIA STYLES === */

@media only screen and (max-width: 770px) {
    :root {
        --base-font-size: 14px;
        --heading-size: 1.5rem;
        --subheading-size: 1.5rem;
        --list-font-size: 20px;
        --list-margin-left: 20px;
        --card-margin: 10px 0;
        --full-width: 100%;
        --profile-container-size: 100px;
    }

    html {
        font-size: var(--base-font-size);
    }

    h1, h1 strong {
        font-size: var(--heading-size);
    }

    h2, h3, h4, h5, h6 {
        font-size: var(--subheading-size);
    }

    img {
        max-width: var(--full-width);
        height: auto;
    }

    .about .achievements li {
        font-size: var(--list-font-size);
        margin-left: var(--list-margin-left);
    }

    .experience-description {
        font-size: 1.8rem; /* Adjust the font size as needed */
    }

    .skills .skill-cards {
        overflow-x: hidden; /* Hide the scrollbar and prevent scrolling */
        margin: 0 auto; /* Center the container */
        display: flex; /* Use flexbox for layout */
        flex-wrap: nowrap; /* Prevent wrapping */
        justify-content: center; /* Center the cards horizontally */
    }

    .skills h2{
        margin-bottom: -10px;
    }
    
    .skills .skill-card {
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: darken;
        flex: 0 0 170px; /* Fixed width for each card */
        height: 170px; /* Fixed height for consistency */
        margin: 30px; /* Consistent spacing */
        margin-top: -10px;
        margin-bottom: 300px;
        border: 1px solid var(--gray);
        cursor: pointer;
        transition: var(--transition-fast);
        padding: 45px;
    }

    .skills .skill-list {
        margin-top: -800px;
        margin-bottom: -475px;
    }


}

.lock-scroll {
    overflow: hidden;
}

#navbar {
    background: linear-gradient(to right, var(--navbar-gradient-start), var(--navbar-gradient-end));
    padding: 10px;
    position: fixed;
    top: -200px; /* Adjust based on the navbar's height */
    right: 0;
    border-radius: 0 0 0 20px;
    z-index: 1000;
    transition: top var(--transition-fast);
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    color: var(--link-color);
    text-align: center;
    padding: var(--link-padding);
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
}

@keyframes first-loop {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%); /* Move left to show the first set */
    }
}

@keyframes loop {
    0% {
        transform: translateX(100%); /* Start from the right */
    }
    100% {
        transform: translateX(-100%); /* Move left to show the second set */
    }

@keyframes backgroundAnimation {
        0% {
            background-position: 0% 0%; /* Start position */
        }
        100% {
            background-position: 100% 0%; /* End position */
        }
    }
}
