* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #060003;
    --gray: #242123;
    --white: #FFFFFF;
    --blue: #8E6EEA;
    --border-gradient: linear-gradient(227.58deg, #F4492F -44.04%, #F367A5 42.36%, #553DEB 113.95%);

    --font-96: clamp(56px, 8vw, 96px);
    --font-40: clamp(24px, 6vw, 40px);
    --font-32: clamp(24px, 4vw, 32px);

    --transition-speed: 250ms;
    --transition-easing: ease;
    --icon-size: 80px;
    --icon-font-size: 30px;
    --list-item-margin: 12px;
    --border-width: 2px;

    --profile-container-size: 200px;
    --profile-size: 80px;
    --profile-margin: 12px;
    --section-min-height: 850px;
    --section-padding: 10px;

    --header-background-color: rgba(255, 255, 255, 0.5);
    --text-color: var(--black);
    --hover-text-color: var(--white);
    --margin-bottom-large: 45px;
    --border-color: var(--black);

    --color-black: black;
    --color-white: #FFFFFF;
    --color-gray: #CCCCCC;

    --font-18: 18px;
    --font-32: 32px;

    --gradient-background: linear-gradient(to bottom right, #F4492F, #F367A5 54.6875%, #553DEB);
    --transition-fast: 500ms ease all;
    --icon-opacity: 0.7;
    --icon-hover-opacity: 1;
    --fill-color-default: #dbdbdb;
    --fill-color-hover: #ffffff;

    --intro-bg-color: #4c6faf;
    --intro-hover-bg-color: white;
    --intro-hover-color: black;
    --intro-border-hover-color: #4c7caf;
    --navbar-gradient-start: #333;
    --navbar-gradient-end: #000;
    --link-color: white;
    --link-padding: 14px 16px;
    --transition-fast: 0.3s;
}

html {
    font-family: "Inter";
    color: var(--white);

    overflow-x: hidden;
}

body {
    background-color: var(--black);
}

/* TYPOGRAPHY */
h1 {
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-96);
    line-height: 116px;
    max-width: 150%;
}

h1 strong {
    font-size: calc(var(--font-96) - 4px);
    color: #000000;  /* Black */
    display: inline-block; 
    width: 100%;
    text-align: center;
}


h2 {
    color: black;
    font-weight: 600;
    font-size: var(--font-32);
    line-height: 150%;
    margin-bottom: 30px;
}

p,
a {
    margin-left: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-decoration: none;
}

p {
    opacity: 0.7;
}

.title {
    font-size: var(--font-48);
    color: #000000;  /* Black */
    font-weight: 700;  /* Extra Bold */
}

.background {
    font-size: var(--font-24);
    color: #333333;  /* Dark Gray */
}

.current {
    font-size: var(--font-36);
    color: #000000;  /* Black */
    font-weight: 500;  /* Medium Bold */
}

.current strong {
    color: #000000;  /* Black */
    font-style: italic;  /* Italic text */
    display: inline-block; 
    width: 100%; 
    text-align: center;
}

/* LAYOUTS */

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* === UNIVERSAL STYLES === */

/* List Styles */
  
  .flex-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .flex-list li {
    margin: var(--list-item-margin);
    transition: var(--transition-speed) var(--transition-easing);
  }
  
  .flex-list a {
    color: var(--white);
    text-decoration: none;
    display: block;
    transition: var(--transition-speed) var(--transition-easing);
  }
  
  .list-items-circle {
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Align the items vertically in the center */
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
  }
  
  .list-items-circle a {
    border: var(--border-width) solid var(--black);
    border-radius: 50%;
    margin: 5px; /* Add some space between the items */
  }
  
  .list-items-circle a:hover,
  .contact .list-items-circle a:hover {
    background-color: var(--white);
    border-color: var(--white);
  }
  
  .list-items-circle .fab {
    width: var(--icon-size);
    height: var(--icon-size);
    font-size: var(--icon-font-size);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: var(--transition-speed) var(--transition-easing);
  }
  
  .contact .list-items-circle a {
    border-color: var(--white);
  }
  
  .flex-list hr {
    height: 30px;
    margin: 0 50px;
    border: none;
    border-left: 1px solid var(--white);
  }
  
  @media (max-width: 768px) {
    .flex-list {
      flex-direction: column;
    }
  
    .flex-list hr {
      width: 30px;
      height: 1px;
      margin: 15px 0;
      border-left: none;
      border-top: 1px solid var(--white);
    }
  }
  
  /* Profile Image */
  .profile-container {
    min-width: var(--profile-container-size);
    margin: var(--profile-margin);
    position: relative;
    width: var(--profile-container-size);
    height: var(--profile-container-size);
  }
  
  .profile-container .profile,
  .profile-container .ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .profile-container .profile {
    width: var(--profile-container-size);
    height: var(--profile-container-size);
    border-radius: 50%;
    object-fit: cover; /* Ensures the image fills the circular container without distortion */
  }
  
  .profile-container .ring {
    width: 100%;
    height: 100%;
  }
  
  .header,
  .section {
    min-height: var(--section-min-height);
    padding: var(--section-padding);
  }
  
  @media (max-width: 768px) {
    :root {
      --profile-container-size: 66px;
      --profile-size: 60px;
      --section-min-height: 600px; /* Adjust this value as needed for mobile */
    }
  }

/* HEADER */
.header {
    background-image: linear-gradient(to bottom, var(--header-background-color), var(--header-background-color)), url('../img/Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Adjusted to center vertically */
    align-items: center; /* Adjusted to center horizontally */
}

.header .header-links, .header h1 {
    display: flex;
    justify-content: center; /* Ensures content is centered within each flex container */
    align-items: center;
    flex-direction: column;
    color: var(--text-color);
    margin-bottom: 50px;
    width: 100%; /* Ensures full width for proper centering */
}

.contact .contact-links, .header .flex-list, .header .flex-list li a {
    color: var(--text-color);
    margin-bottom: var(--margin-bottom-large);
}

.header .flex-list li:hover, .header .flex-list li a:hover {
    color: var(--hover-text-color);
}

.header .flex-list hr {
    border: 1px solid var(--border-color);
}

/* === ABOUT === */

.about {
    color: black;
    background: linear-gradient(to bottom right, #F4492F, #F367A5 54.6875%, #553DEB);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about h2 {
    max-width: 900px;
    font-weight: 400;
    font-size: var(--font-40);
    line-height: 150%;
    margin-bottom: 20px;
    margin-left: auto; 
    margin-right: auto; 
    display: block; 
}

.about .achievements {
    list-style: none;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 100px;
    justify-content: center; 
    display: flex; /* Ensures justify-content is effective */
    flex-direction: column; 
}

.about .achievements ul {
    text-align: left; /* Updated for centering list items */
    list-style-position: inside;
    padding: 0; /* Removes default padding */
}

.about .achievements li {
    font-size: 25px;
    text-align: left; /* Updated for centering list items */
    list-style-position: inside;
    padding: 0; /* Removes default padding */
    margin-bottom: 10px;
    margin-left: 350px;
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
    .about h2, .about .achievements {
        max-width: 100%;
        margin-left: var(--margin-standard);
        margin-right: var(--margin-standard);
    }
}

/* === PROJECTS === */

.projects {
    color: black;
    background: linear-gradient(to bottom right, #3DEB55, #A567F3 54.6875%, #2F49F4);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects .projects-link {
    color: var(--white);
    margin-bottom: 30px;

    opacity: 0.7;
    transition: 250ms ease all;
}

.projects .projects-link:hover {
    opacity: 1;
}

.projects .cards {
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.projects .main-card {
    display: flex;
    align-items: flex-start; /* if you want to align the image and the text vertically */
    border: 1px solid var(--gray);
    padding: 30px;
    margin: 20px auto;
    width: 100%; /* adjust as needed */
}

.projects .main-card img {
    width: 50%; /* adjust as needed */
}

.projects .main-card .main-card-title,
.projects .main-card .main-card-description {
    width: 25%; /* adjust as needed */
    height: 50%;
}

.projects .cards {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 50%; /* adjust as needed */
}


.highlighted-card {
    width: 100%;
}

.projects .card img {
    width: 50%;
    max-width: 10px;
    height: 10px;
    margin: 0 auto 16px;
}

.projects .highlighted-card img {
    width: 50%;
    max-width: 600px;
    height: auto;
    margin: 0 auto 16px;
}

.projects .card .card-title {
    margin-top: 50px;
    color: black;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 8px;
}

.projects .card .card-description {
    color: black;
    margin-bottom: 10px;
}

.projects .card .card-buttons {
    display: flex;
    justify-content: space-between;
}

.project-cards {
    display: flex;
    justify-content: space-between;
}

.other-cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.projects .card .card-buttons .card-button--site,
.projects .card .card-buttons .card-button--code {
    color: black;
    width: 150px;
    height: 60px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    opacity: 1;
    color: var(--white);

    transition: 250ms ease all;
}

.projects .card .card-buttons .card-button--site {
    background-color: var(--gray);
    margin-top: 10px;
}

.projects .card .card-buttons .card-button--code {
    background-color: var(--gray);
    margin-top: 10px;
}

.projects .card .card-buttons .card-button--site:hover,
.projects .card .card-buttons .card-button--code:hover {
    background-color: var(--white);
    color: var(--black);
}

/* === EXPERIENCE === */

.experience {
    color: var(--black);
    background-image: url('../img/Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experience-description, .experience .experience-card .card-title, .experience .experience-card .card-years, .experience .experience-card .card-list .card-list-item {
    color: var(--black);
}

.experience-description {
    max-width: 900px;
    margin-bottom: 125px;
    font-weight: 400;
    font-size: var(--font-32);
    line-height: 150%;
    opacity: 1;
    position: relative;
}

.experience-description img {
    position: absolute;
    top: 50%;
    right: -200px;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.experience h2 {
    border-left: 2px solid var(--white);
    padding-left: 24px;
}

.experience .experience-cards {
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.experience .experience-card {
    width: 370px;
    padding: 0 30px 30px 0;
    margin-bottom: 50px;
}

.experience .experience-card .card-title {
    font-size: var(--font-18);
    line-height: 150%;
}

.experience .experience-card .card-title .highlight {
    opacity: 0.7;
    font-weight: 400;
}

.experience .experience-card .card-years {
    font-weight: 500;
    font-size: var(--font-18);
    line-height: 150%;
    margin-bottom: 24px;
    opacity: 1;
}

.experience .experience-card .card-list .card-list-item {
    margin: 0 0 16px 16px;
    opacity: 0.7;
}

/* === SKILLS === */

.skills {
    background: var(--gradient-background);
    background-repeat: no-repeat;
    background-size: cover;

    --time: 30s; /* Total animation time */
    --half-time: 15s; /* Half of the animation time for delay */

    display: grid; /* Use grid layout */
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas: 'scroll-area';
    overflow: hidden; /* Hide overflow */
}

.skills .section-skills {
    font-weight: 600;
    margin: 50px; /* Remove any default margin */
    padding: 20px 0; /* Add padding if needed for spacing */
    grid-row: 2; /* Place in the first row */
}

.skills .skill-cards {

    display: flex; /* Use flexbox for the skill cards */
    flex-wrap: nowrap; /* Prevent wrapping */
    overflow: auto; /* Hide overflow */
    animation: loop var(--time) linear infinite; /* Continuous loop animation */
    grid-row: 1; /* Place in the second row */
    
    grid-area: scroll-area;
    animation: loop var(--time) linear infinite; /* Continuous loop animation */
    transform: translateX(100%); /* Start off-screen to the right */

    &[data-first] {
        animation: first-loop var(--time) linear forwards; /* First loop animation */
        transform: translateX(0); /* Start from the original position */
    }

    &[data-last] {
        animation-delay: var(--half-time); /* Delay for the last set */
    }
}

.skills .skill-card {
    background: var(--gradient-background);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    flex: 1 1 auto; /* Allow cards to grow and shrink */
    min-width: 100px; /* Set a minimum width */
    min-height: 150px; /* Set a minimum height */
    max-height: 170px; /* Optional: Set a maximum height */
    margin: 20px; /* Consistent spacing */
    border: 1px solid var(--gray);
    cursor: pointer;
    transition: var(--transition-fast);
}

.skills .skill-card .fab {
    font-size: 80px;
    opacity: var(--icon-opacity);
    transition: opacity var(--transition-fast);
}

.skills .skill-card:hover {
    background-blend-mode: normal;
}

.skills .skill-card:hover .fab {
    opacity: var(--icon-hover-opacity);
}

.skill-card svg path {
    fill: var(--fill-color-default);
    transition: fill 0.5s;
}

.skill-card:hover svg path {
    fill: var(--fill-color-hover);
}

.skills .skill-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: -500px;
    margin-top: -500px;
    font-size: x-large;
}

.skills .skill-list li {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills .skill-list li img {
    margin: 50px;
}


/* === CONTACT === */

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contact h1,
.contact p {
    max-width: 750px;
    margin-bottom: 45px;
}

.contact .flex-list li:hover,
.contact .flex-list li a:hover {
    color: var(--blue);
}

/* === FOOTER === */

.footer {
    min-height: 88px;
    background-color: var(--gray);
}

/* === MEDIA STYLES === */

@media only screen and (max-width: 770px) {
    :root {
        --base-font-size: 14px;
        --heading-size: 3rem;
        --subheading-size: 1.5rem;
        --list-font-size: 20px;
        --list-margin-left: 20px;
        --card-margin: 10px 0;
        --full-width: 100%;
        --profile-container-size: 100px;
    }

    html {
        font-size: var(--base-font-size);
    }

    h1, h1 strong {
        font-size: var(--heading-size);
    }

    h2, h3, h4, h5, h6 {
        font-size: var(--subheading-size);
    }

    img {
        max-width: var(--full-width);
        height: auto;
    }

    .about .achievements li {
        font-size: var(--list-font-size);
        margin-left: var(--list-margin-left);
    }

    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .projects .cards, .project-cards, .other-cards,
    .projects .main-card, .projects .card,
    .projects .main-card img, .projects .card img,
    .projects .main-card .main-card-title,
    .projects .main-card .main-card-description,
    .projects .card .card-title,
    .projects .card .card-description,
    .projects .card .card-buttons .card-button--site,
    .projects .card .card-buttons .card-button--code {
        width: var(--full-width); /* Ensure this variable or value sets the width to 100% */
        word-wrap: break-word; /* Allows long words to be broken and wrapped to the next line */
        overflow-wrap: break-word;
        margin: var(--card-margin); 
    }
    
    .projects .main-card, .projects .card {
        margin: var(--card-margin);
        width: 100%; /* This ensures each card takes full width */
    }
    
    .projects .main-card img, .projects .card img {
        max-width: 100%; /* Adjusts image max-width to be responsive within the card */
        height: auto;
    }
    
    .projects .card .card-buttons {
        flex-direction: column;
    }
    
    .projects .card .card-buttons .card-button--site,
    .projects .card .card-buttons .card-button--code {
        margin: var(--card-margin);
    }

    .projects .cards, .project-cards, .other-cards {
        flex-direction: column;
        width: 100%; /* Ensure cards take full width */
    }

    .experience-description {
        font-size: 1.8rem; /* Adjust the font size as needed */
    }

    .skills .skill-cards {
        margin-top: auto;
    }

    .skills .skill-cards {
        overflow-x: hidden; /* Hide the scrollbar and prevent scrolling */
        margin: 0 auto; /* Center the container */
        display: flex; /* Use flexbox for layout */
        flex-wrap: nowrap; /* Prevent wrapping */
        justify-content: center; /* Center the cards horizontally */
    }
    
    .skills .skill-card {
        background: var(--gradient-background);
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: darken;
        flex: 0 0 170px; /* Fixed width for each card */
        height: 170px; /* Fixed height for consistency */
        margin: 30px; /* Consistent spacing */
        border: 1px solid var(--gray);
        cursor: pointer;
        transition: var(--transition-fast);
    }
}

.lock-scroll {
    overflow: hidden;
}

#navbar {
    background: linear-gradient(to right, var(--navbar-gradient-start), var(--navbar-gradient-end));
    padding: 10px;
    position: fixed;
    top: -200px; /* Adjust based on the navbar's height */
    right: 0;
    border-radius: 0 0 0 20px;
    z-index: 1000;
    transition: top var(--transition-fast);
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    color: var(--link-color);
    text-align: center;
    padding: var(--link-padding);
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
}

@keyframes first-loop {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%); /* Move left to show the first set */
    }
}

@keyframes loop {
    0% {
        transform: translateX(100%); /* Start from the right */
    }
    100% {
        transform: translateX(-100%); /* Move left to show the second set */
    }
}
