[submodule "submodule-directory"]
	path = submodule-directory
	url = git@github.com:muhammadaus/portfolio.git
[submodule "Portfolio"]
	path = Portfolio
	url = git@github.com:muhammadaus/portfolio.git
